/**
 * Variables file
 *
 */

/**
 * Color & Background
 *
 */

$primary-color: #121429 !default;
$secondary-color: #6D7F99 !default;
$white-color: #FFFFFF;
$black-color: #000000;
$yellow-color: #F5E40E;
$orange-color: #FD5334;
$blue-color: #1A9DE7;
$blue-sea-color: #50E3C2;
$pink-color: #EA5771;
$green-color: #039245;
$red-color: #D22D36;
$yellow2-color: #F2C94C;
$blue2-color: #008FFF;
$purple-color: #CCD6F6;
$gray-color: #8892b0;
$green-tint: rgba(100, 255, 218, 0.1);



/**
 *  Font & Text
 *
 */

// font-family
$font-family-primary: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$font-family-secondary : 'Open Sans', sans-serif;
$font-family-third : 'Kanit', sans-serif;
$font-family-fourth: 'Montserrat', sans-serif;

// font-size
$font-size-h1: 80px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 20px;
$font-size-h5: 17px;
$font-size-h6: 14px;
$font-size-h7: 13px;
$font-size-h8: 12px;


// font weight

$font-weight-primary: 700;
$font-weight-secondary: 600;
$font-weight-third: 500;
$font-weight-fourth: 400;
$font-weight-fifth: 300;
$font-weight-six: 200;
$font-weight-seven: 100;
//$font-weight-primary: 900;
//$font-weight-secondary: 800;


// 600 


// letter-spacing
$letter-spacing-primary: 1.2px;
$letter-spacing-secondary: 5px;

// line-height
$line-height-88: 88px;
$line-height-72: 72px;
$line-height-66: 66px;
$line-height-35: 35.2px;
$line-height-30: 30.8px;
$line-height-26: 26px;
$line-height-24: 24.2px;
$line-height-23: 23.4px;
$line-height-22: 22.1px;
$line-height-21: 21px;
$line-height-18: 18.2px;
$line-height-17: 17.6px;
$line-height-16: 16.9px;
$line-height-15: 15.6px;
$line-height-14: 14px;
$line-height-13: 13px;



// text-transform
$text-transform: uppercase;



/**
 * Box
 *
 */

$width-100vw: 100vw;
$height-100vh: 100vh;

$width-100: 100%;
$width-90: 90%;
$width-80: 80%;
$width-70: 70%;
$width-60: 60%;
$width-50: 50%;

$height-100: 100%;
$height-90: 90%;
$height-80: 80%;
$height-70: 70%;
$height-60: 60%;
$height-50: 50%;





/**
 * Positioning
 *
 */



/**
 * Effects
 *
 */

 $easing: cubic-bezier(0.645, 0.045, 0.355, 1);
 $transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

 $hamburger-width: 30px;
 $ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
 $ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
 $ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
 $ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;



$background-color-dark: #121429;
$background-color-light: #FFFFFF;
// $background-color-light: #E7EEED;

$complimentary-color-dark: #393B43;
$complimentary-color-light: #FEFFFF;

body {
  background-color: $background-color-light;
  color: #1544C0;

  .skills-category-item {
    color: $gray-color;
  }
}

body.dark-mode {
  background-color: $background-color-dark;
  color: $purple-color;

  .skills-category-item {
    li {
      color: $red-color
    }
  }



}