@import '../base/variables';

.about {
    max-width: $desktop-width;
    padding: 100px 0;

    .about-wrapper {
        display: flex;
        flex-direction: column;

        .about-title {
            width: 100%;
            padding: 20px;
            display:flex;
            flex-direction: row;
            align-items: flex-end;

            h2 {
                @extend %selection-bg-yellow;
                color: $black-color;
                font-size: $font-size-h4;
                font-weight: $font-weight-six;
                font-family: $font-family-primary;
            }

            h3 {
                @extend %selection-bg-yellow;
                // color: $purple-color;
                font-size: $font-size-h3;
                font-weight: $font-weight-secondary;
                font-family: $font-family-secondary;
                margin-left: 30px;
            }
        }

        .inner {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            margin-top: 5px;

            .inner-left {
                width: 65%;

                .inner-left-top {

                    p {
                        @extend %selection-bg-yellow;
                        color: $secondary-color;
                        margin-top: 15px;
                        font-size: $font-size-h5;
                        font-family: $font-family-secondary;
                        font-weight: $font-weight-six;
                        line-height: $line-height-26;

                        a {
                            @extend %selection-bg-yellow;
                            color: $blue-color;
                            text-decoration: none;
                            font-weight: $font-weight-fourth;
                        }
                    }
                }

                .inner-left-bottom {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    margin-top: 35px;

                    .inner-left-bottom-skill {
                        @extend %selection-bg-yellow;
                        width: 50%;
                        color: $gray-color;
                        list-style: none;
                        font-family: $font-family-primary;
                        line-height: $line-height-21;
                        font-size: $font-size-h6;
                        font-weight: $font-weight-six;
                        // letter-spacing: $letter-spacing-primary;

                        &:before {
                            // content: "\2192";
                            // content: "\2023";
                            content: "\2660";
                            // content: "\00BB";
                            // content: "\00BB \0020";
                            margin-right: 10px;
                            color: $blue-color;
                        }
                    }
                }
            }

            .inner-right {
                // width: 40%;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $blue-color;
                vertical-align:middle;       

                img {
                    @extend %selection-bg-yellow;
                    width: 100%;
                    height: 100%;
                    border: 3px solid $blue-color;
                    border-radius: 50%;
                    filter: grayscale(100%);

                    &:hover {
                        filter: none;
                    }
                }
                h1 {}
            }
        }
    }
}