

.about {
    // display:flex;
    max-width: 900px;
    // min-height: 90vh;
    // justify-content: center;
    // align-items: center;
    padding: 100px 0;

  /*   @include thirteen {
        padding: 100px;
    }

    @include desktop {
        padding: 50px;
    }

    @include tablet {
        display: block;
    }

    @include mobile {
        padding: 50px 35px;
    }
 */
    .about-wrapper {
        // width: 100%;
        display: flex;
        flex-direction: column;

        


        .about-title {
            width: 100%;
            padding: 20px;
            display:flex;
            flex-direction: row;
            align-items: flex-end;

            h2 {
                color: $blue-sea-color;
                font-size: $font-size-h4;
                font-weight: $font-weight-six;
                font-family: $font-family-primary;
            }

            h3 {
                // color: $purple-color;
                font-size: $font-size-h3;
                font-weight: $font-weight-secondary;
                font-family: $font-family-secondary;
                margin-left: 30px;
            }
        }

        .inner {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            margin-top: 5px;


            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
            }

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
            }

            .inner-left {
                width: 65%;

                @media (max-width: 768px) {
                    margin-bottom: 30px;
                }

                .inner-left-top {

                    p {
                        color: $gray-color;
                        margin-top: 15px;
                        font-size: $font-size-h5;
                        font-family: $font-family-secondary;
                        font-weight: $font-weight-six;
                        line-height: $line-height-26;

                        @media (max-width: 414px) {
                            font-size: 16px;
                        }

                        a {
                            color: $blue-sea-color;
                            text-decoration: none;
                        }
                    }
                }

                .inner-left-bottom {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    margin-top: 35px;

                    .inner-left-bottom-skill {
                        width: 50%;
                        color: $gray-color;
                        list-style: none;
                        font-family: $font-family-primary;
                        line-height: $line-height-21;
                        font-size: $font-size-h6;
                        font-weight: $font-weight-six;
                        // letter-spacing: $letter-spacing-primary;

                        &:before {
                            // content: "\2192";
                            // content: "\2023";
                            content: "\2660";
                            // content: "\00BB";
                            // content: "\00BB \0020";
                            margin-right: 10px;
                            color: $blue-sea-color;
                        }
                    }
                }

            }

            .inner-right {
                // width: 40%;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $blue-sea-color;
                vertical-align:middle;
                

                img {
                    width: 100%;
                    height: 100%;
                    border: 2px solid $blue-sea-color;
                    border-radius: 50%;
                    filter: grayscale(100%);

                    &:hover {
                        filter: none;
                    }
                }

                h1 {

                }

            }

        }


    }
}