@import '../base/variables';

.hero {
    //max-width: 900px;
    @include transition;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 1000;
    // color: $white-color;
    padding: 100px 0;
    font-family: $font-family-primary;
    transition: inherit;

    .hero-row1 {
        font-size: $font-size-h5;
        font-weight: $font-weight-six;
        color: $black-color;
        padding: 10px 0;
        margin: 0 0 30px 4px;

        h1 {
            @extend %selection-bg-yellow;
        }
    }

    .hero-row2 {
        font-size: $font-size-h1;
        font-family: $font-family-fourth;
        font-weight: $font-weight-primary;
        line-height: $line-height-88;
        letter-spacing: $letter-spacing-primary;
        transition-delay: 250ms;
        transition-property: margin-right;

        h1 {
            @extend %selection-bg-yellow;
        }
    }
    
    .hero-row3 {
        font-size: $font-size-h1;
        font-family: $font-family-fourth;
        font-weight: $font-weight-primary;
        line-height: $line-height-88;
        margin-top: 5px;
        letter-spacing: $letter-spacing-primary;
        transition-delay: 250ms;
        transition-property: margin-right;

        h1 {
            @extend %selection-bg-yellow;
        }
    }


    .hero-row4 {
        font-size: $font-size-h5;
        font-family: $font-family-secondary;
        max-width: 600px;
        margin: 20px 0 0;
        font-weight: $font-weight-six;
        letter-spacing: $letter-spacing-primary;
        line-height: $line-height-26;
        color: $secondary-color;

        h1 {
            @extend %selection-bg-yellow;
        }

    }

    .hero-row5 {
        padding-top: 80px;

        a {
            @extend %selection-bg-yellow;
            background-color: transparent;
            padding: 20px 28px;
            margin-top: 150px;
            border: 1px solid $blue-color;
            border-radius: 5px;
            color: $blue-color;
            font-family: $font-family-primary;
            font-weight: $font-weight-six;
            text-decoration: none;
            
            &:hover,
            &:focus,
            &:active {
                background-color: $blue-tint;
                outline: none;
                cursor: pointer;
            }

            &:after {
                display: none !important;
            }
        }
    }
}