/**
 * Section component
 *
 */


.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
}

.section-dark {
  background: $primary-color;
  color: $white-color;
}

/* .section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
} */