@import '../base/variables';


.skills {
    // max-width: 900px;
    //min-height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 100px 0;

    .skills-title {
        display: flex;
        font-size: $font-size-h3;
        font-family: $font-family-secondary;
        font-weight: $font-weight-primary;
        // text-align: center;
        padding: 0 30px;

        h2 {
            @extend %selection-bg-yellow;
            color: $black-color;
            font-size: $font-size-h4;
            font-weight: $font-weight-six;
            font-family: $font-family-primary;
            margin-right: 30px;
            padding:8px 0;
        }

        h3 {
            @extend %selection-bg-yellow;
            font-size: $font-size-h3;
            font-weight: $font-weight-secondary;
            font-family: $font-family-secondary;
        }
    }

    .skills-more {
        display: flex;
        flex-direction: row;

        // @media (max-width: 900px) {
        //     padding: 0 25px;
        //     display: grid;
        //     grid-template-columns: 1fr 1fr;
        // }

        .skills-category-label {
            list-style: none;
            padding: 0 40px;

            // @media (min-width: 375px) {
            //     margin-bottom: 30px;
            // }

            .skills-category-title {
                @extend %selection-bg-yellow;
                font-family: $font-family-secondary;
                font-weight: $font-weight-primary;
                line-height: $line-height-26;
                font-size: $font-size-h5;
                margin-bottom: 20px;
                margin-top: 5px;
                letter-spacing: $letter-spacing-primary;
                color: $black-color;
            }

            .skills-category-item {
                @extend %selection-bg-yellow;
                width: 100%;
                color: $gray-color;
                list-style: none;
                font-family: $font-family-primary;
                line-height: $line-height-26;
                font-size: $font-size-h6;
                font-weight: $font-weight-six;
            }
        }
    }
}