



.button {
    a {
        border-radius: 5px;
        border: 1px solid $blue-sea-color;
        padding: 10px 16px;
        color: $blue-sea-color;
        text-decoration: none;
    }

    /* &:hover {
        opacity: 0.9;
        cursor: pointer;
    } */
}