



.button {
    a {
        border-radius: 5px;
        border: 1px solid $blue-color;
        padding: 10px 16px;
        color: $blue-color;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);


        &:hover,
        &:focus,
        &:active {
            background-color: $blue-tint;
            outline: none;
        }
        
        &:after {
            display: none !important;
        }
    }

    /* &:hover {
        opacity: 0.9;
        cursor: pointer;
    } */
}