/**
 * Navbar component
 *
 */
 @import '../base/variables';

.nav {
  // position: absolute;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  // box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  pointer-events: auto !important;
  filter: none !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  .nav-content {

    //max-width: 900px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav-logo {
      height: 50px;
      width: 50px;
      @extend %selection-bg-yellow;

      img {
        @extend %selection-bg-yellow;
      }

      &:hover {
          cursor: pointer;
      }
    }

    .nav-items {
        font-family: $font-family-primary;
        font-size: $font-size-h6;
        font-weight: $font-weight-six;
        color: $white-color;
        display:flex;
        flex-direction: row;

        .nav-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
            color: $blue-color;

            span {
              color: $black-color;
              @extend %selection-bg-yellow;
            }

            strong {
                color: $blue-color;
                font-weight: $font-weight-third;
                @extend %selection-bg-yellow;
            }

            &:hover {

                strong {
                    color: $black-color;
                    cursor: pointer;
                    font-weight: $font-weight-third;
                }
            }
        }
    }
  }
}

